* {
    box-sizing: border-box;
}

html {
    font-size: 10px;   
    overflow-x: hidden;     
}  

body {
    font-size: 1.6rem; 
    font-family: 'Myriad Pro', sans-serif; 
    background-color: $color-primary;
    color: $color-primary;   
}
.container {                
    margin: 0 auto;  
    padding: 0 15px;  
} 
@media (min-width: $md) {
    .container {
        width: 100%;        
    }
}
@media (min-width: $lg) {
    .container {
        width: 960px;     
    }
}  
  