.header {
    background-color: $color-main; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 10;
    &__container {
        margin: 0 auto;
        padding: 0 15px;
    }  
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 29px 0;
    }
    &__left {
        display: flex;
        justify-content: flex-start;
        align-items: center; 
        position: relative; 
    }
    &__nav {
        margin-left: 40px;
    }
    &__link {  
        font-size: 13px;
        text-transform: uppercase; 
        margin-right: 22px; 
        position: relative;
        color: $color-primary;   
        &::after { 
             content: '';
             position: absolute;
             left: 0;
             bottom: -2px;   
             width: 0;
             height: 2px;
             background-color: $color-primary;
             transition: 0.3s ease-out;
        }
        &:hover::after {
            width: 100%;
        }
        &:focus::after {
            width: 100%;
        }
        &:active {
            opacity: 0.5;
        }
    }
    &__right {
        display: flex;  
        align-items: center; 
        position: relative;
        z-index: 10; 
    }
    &__burger {
        background-color: transparent;  
        width: 34px;
        height: 29px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer; 
        &:hover div {
            opacity: 0.7;  
        }
        &:active div {
            opacity: 0.5;
        }
    }
    &__burger div{
        width: 100%; 
        height: 5px;
        background-color: $color-primary;
        transition: all 0.3s; 
    } 
    &__burger-active div:first-of-type {
        transform-origin: right;
        transform: rotate(-45deg);
    }
    &__burger-active div:nth-of-type(2) {
        opacity: 0;
    }
    &__burger-active div:last-of-type {
        transform-origin: right;
        transform: rotate(45deg);  
    }
}

.logo {
    width: 69px; 
    height: 51px; 
    position: relative;
    z-index: 10;
    transition: all 0.3s;
    &:hover {
        opacity: 0.7; 
        transition: all 0.3s; 
    }
    &:active {
        opacity: 0.5;
        transition: all 0.1s;
        
    }
    &__img {
        width: 100%;
        height: 100%;
        transition: all 0.3s;
    }
}
.search {
    display: flex;
    &__btn {
        width: 16px;    
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;  
        outline: none;
        transition: all 0.3s;
        &:hover {
            opacity: 0.7;
            transition: all 0.3s;
        }
        &:active {
            opacity: 0.5;
            transition: all 0.1s;
        } 
    }
    &__icon {
        width: 100%;  
        vertical-align: middle; 
    }
}
.shopping {
    display: flex;
    align-items: center;   
    margin-left: 26px;
    &__btn {
        width: 14px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        outline: none;
        transition: all 0.3s;
        &:hover {
            opacity: 0.7;
            transition: all 0.3s; 
        }
        &:active {
            opacity: 0.5;
            transition: all 0.1s;
        }
    }
    &__icon { 
        width: 100%; 
        vertical-align: middle;
    }
    &__money {
        font-size: 13px;
        text-transform: uppercase;
        margin-left: 8px;
    }
}
@media (max-width: $lg) {
    .header {
        &__inner {
            padding: 30px 0 20px 0;
        }
    }
}
@media (min-width: $md) {
    .header {
        &__container {
            width: 100%; 
        }
        &__burger {
            display: none; 
        }
    }
}
@media (min-width: $lg) {
    .header {
        &__container {
            width: 960px;
            padding: 0; 
        }
    }
}
@media (min-width: $xxl) {
    .header {
        &__container {
            width: 1220px;
        }
    }
}
@media (max-width: $md) {
    .header {
        &__nav {
            display: none;  
            transition: all 0.3s;   
            &-active {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color-main, 0.7); 
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;  
                transition: all 0.3s; 
            } 
        }
        &__link {
            margin: 0; 
            margin-bottom: 30px;
            font-size: 18px;
        } 
    }     
} 